@use "../../../style/mixins" as mixins;

.boards-list {
  display: flex;
  flex-direction: column;
  //   justify-content: center;

  // border: solid 1px black;

  margin-bottom: 16px;

  h2 {
    @include mixins.boards-list-h2;

    margin-bottom: 19px;
    margin-left: 8px;
  }

  .new-board {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 8px;

    height: 48px;

    button {
      @include mixins.boards-list-button;

      margin-left: 12px;
    }
  }
}
