@use "./typography" as typography;
@use "./variables" as variables;

@mixin button-styles {
  cursor: pointer;
  font-size: 13px;
  border-radius: 20px;

  // Typo

  text-align: center;
  font-family: typography.$font-family;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin checkbox-label-styles {
  // color: map-get(variables.$colors, "black");
  font-family: typography.$font-family;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

@mixin text-field-label {
  // color: var(--Medium-Grey, #828fa3);
  color: map-get(variables.$colors, "medium-grey");
  font-family: typography.$font-family;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin text-field-input {
  // color: var(--Black, #000112);
  color: map-get(variables.$colors, "black");
  // font-feature-settings: "clig" off, "liga" off;

  /* Body (L) */
  font-family: typography.$font-family;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}

@mixin text-field-input-placeholder {
  // color: var(--Black, #000112);
  // font-feature-settings: "clig" off, "liga" off;
  color: map-get(variables.$colors, "black");

  /* Body (L) */
  font-family: typography.$font-family;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}

@mixin text-field-input-error-message {
  // color: var(--Red, #ea5555);
  color: map-get(variables.$colors, "red");
  text-align: right;
  // font-feature-settings: "clig" off, "liga" off;

  /* Body (L) */
  font-family: typography.$font-family;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}

@mixin dropdown-label {
  // color: var(--Medium-Grey, #828fa3);
  color: map-get(variables.$colors, "medium-grey");
  font-family: typography.$font-family;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin dropdown-select {
  // color: var(--Black, #000112);
  color: map-get(variables.$colors, "black");
  // font-feature-settings: "clig" off, "liga" off;

  /* Body (L) */
  font-family: typography.$font-family;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}

@mixin dropdown-option {
  // color: var(--Medium-Grey, #828fa3);
  color: map-get(variables.$colors, "medium-grey");
  // font-feature-settings: "clig" off, "liga" off;

  /* Body (L) */
  font-family: typography.$font-family;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}

@mixin boards-list-h2 {
  color: map-get(variables.$colors, "medium-grey");
  font-family: typography.$font-family;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

@mixin board-item-h3 {
  // color: map-get(variables.$colors, "medium-grey");
  // font-feature-settings: "clig" off, "liga" off;

  /* Heading (M) */
  font-family: typography.$font-family;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin boards-list-button {
  color: map-get(variables.$colors, "main-purple");
  background-color: transparent;

  /* Heading (M) */
  font-family: typography.$font-family;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin hide-sidebar-button {
  color: map-get(variables.$colors, "medium-grey");
  // font-feature-settings: "clig" off, "liga" off;

  /* Heading (M) */
  font-family: typography.$font-family;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
}
