@use "./variables" as variables;

.light {
  // checkbox
  --checkbox-background-color: #{map-get(variables.$colors, "light-grey")};
  --checkbox-color: #{map-get(variables.$colors, "black")};

  // dropdown
  --options-list-background-color: #{map-get(variables.$colors, "white")};

  // header
  --header-background-color: #{map-get(variables.$colors, "white")};
  --header-title-color: #{map-get(variables.$colors, "black")};
  --header-logo: #{map-get(variables.$header-logos, "light")};
}

.dark {
  // checkbox
  --checkbox-background-color: #{map-get(variables.$colors, "very-dark-grey")};
  --checkbox-color: #{map-get(variables.$colors, "white")};

  // dropdown
  --options-list-background-color: #{map-get(
      variables.$colors,
      "very-dark-grey"
    )};

  // header
  --header-background-color: #{map-get(variables.$colors, "dark-grey")};
  --header-title-color: #{map-get(variables.$colors, "white")};
  --header-logo: #{map-get(variables.$header-logos, "dark")};
}
