@use "./variables" as variables;

.light {
  // checkbox
  --checkbox-background-color: #{map-get(variables.$colors, "light-grey")};
  --checkbox-color: #{map-get(variables.$colors, "black")};

  // dropdown
  --options-list-background-color: #{map-get(variables.$colors, "white")};

  // header
  --header-background-color: #{map-get(variables.$colors, "white")};
  --header-title-color: #{map-get(variables.$colors, "black")};
  --header-logo: #{map-get(variables.$header-logos, "light")};
  --header-borders: #{map-get(variables.$colors, "lines-light")};

  // board
  --board-background-color: #{map-get(variables.$colors, "light-grey")};

  // theme switcher
  --theme-switcher-background-color: #{map-get(variables.$colors, "light-grey")};

  // modal
  --modal-background-color: #{map-get(variables.$colors, "white")};

  // sidebar
  --sidebar-background-color: #{map-get(variables.$colors, "white")};
  --sidebar-border: #{map-get(variables.$colors, "lines-light")};

  // delete modal
  --delete-modal-background-color: #{map-get(variables.$colors, "white")};
}

.dark {
  // checkbox
  --checkbox-background-color: #{map-get(variables.$colors, "very-dark-grey")};
  --checkbox-color: #{map-get(variables.$colors, "white")};

  // dropdown
  --options-list-background-color: #{map-get(
      variables.$colors,
      "very-dark-grey"
    )};

  // header
  --header-background-color: #{map-get(variables.$colors, "dark-grey")};
  --header-title-color: #{map-get(variables.$colors, "white")};
  --header-logo: #{map-get(variables.$header-logos, "dark")};
  --header-borders: #{map-get(variables.$colors, "lines-dark")};

  // board
  --board-background-color: #{map-get(variables.$colors, "very-dark-grey")};

  // theme switcher
  --theme-switcher-background-color: #{map-get(
      variables.$colors,
      "very-dark-grey"
    )};

  // modal
  --modal-background-color: #{map-get(variables.$colors, "dark-grey")};

  // sidebar
  --sidebar-background-color: #{map-get(variables.$colors, "dark-grey")};
  --sidebar-border: #{map-get(variables.$colors, "lines-dark")};

  // delete modal
  --delete-modal-background-color: #{map-get(variables.$colors, "dark-grey")};
}
