@use "./breakpoints" as breakpoints;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

$font-family: "Plus Jakarta Sans", sans-serif;

$base-font-size: 16px;

// * BODY

// $font-size-body-l: 13px;
// $font-size-body-m: 12px;

$font-size-body-l: $base-font-size * 0.8125;
$font-size-body-m: $base-font-size * 0.75;

$line-height-body-l: 23px;
$line-height-body-m: 15px;

@mixin body-l {
  font-family: $font-family;
  font-size: $font-size-body-l;
  line-height: $line-height-body-l;
  //   font-weight: medium;
  font-weight: 500;
}

@mixin body-m {
  font-family: $font-family;
  font-size: $font-size-body-m;
  line-height: $line-height-body-m;
  //   font-weight: 700;
  font-weight: bold;
}

// * HEADINGS

// $font-size-heading-xxl: 24px;
// $font-size-heading-xl: 20px;
// $font-size-heading-l: 18px;
// $font-size-heading-m: 15px;
// $font-size-heading-s: 12px;

$font-size-heading-xxl: $base-font-size * 1.5;
$font-size-heading-xl: $base-font-size * 1.25;
$font-size-heading-l: $base-font-size * 1.125;
$font-size-heading-m: $base-font-size * 0.9375;
$font-size-heading-s: $base-font-size * 0.75;

$line-height-heading-xxl: 30px;
$line-height-heading-xl: normal;
$line-height-heading-l: 23px;
$line-height-heading-m: 19px;
$line-height-heading-s: 15px;

// .heading-xl {
//   font-family: $font-family;
//   font-size: $font-size-heading-xl;
//   line-height: $line-height-heading-xl;
//   font-weight: bold;
// }

// .heading-l {
//   font-family: $font-family;
//   font-size: $font-size-heading-l;
//   line-height: $line-height-heading-l;
//   font-weight: bold;
// }

// .heading-m {
//   font-family: $font-family;
//   font-size: $font-size-heading-m;
//   line-height: $line-height-heading-m;
//   font-weight: bold;
// }

// .heading-s {
//   font-family: $font-family;
//   font-size: $font-size-heading-s;
//   line-height: $line-height-heading-s;
//   font-weight: bold;
// }

@mixin heading-xxl {
  font-family: $font-family;
  font-size: $font-size-heading-xxl;
  line-height: $line-height-heading-xxl;
  font-weight: bold;
}

@mixin heading-xl {
  font-family: $font-family;
  font-size: $font-size-heading-xl;
  line-height: $line-height-heading-xl;
  font-weight: bold;
}

@mixin heading-l {
  font-family: $font-family;
  font-size: $font-size-heading-l;
  line-height: $line-height-heading-l;
  font-weight: bold;
}

@mixin heading-m {
  font-family: $font-family;
  font-size: $font-size-heading-m;
  line-height: $line-height-heading-m;
  font-weight: bold;
}

@mixin heading-s {
  font-family: $font-family;
  font-size: $font-size-heading-s;
  line-height: $line-height-heading-s;
  font-weight: bold;
}

// h1 {
//   @include heading-l;
//   @include breakpoints.md {
//     @include heading-xl;
//   }
//   @include breakpoints.lg {
//     @include heading-xxl;
//   }
// }

// .responsive-h1-1 {
//   @include heading-l;
//   @include breakpoints.md {
//     @include heading-xl;
//   }
//   @include breakpoints.lg {
//     @include heading-xxl;
//   }
// }
